<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <title>Sign Up 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

    <link rel="stylesheet" href="{% static 'css/registerstyle.css' %}">

</head>
<body>

<section class="mt-4">
    <div class="container">
        {#			<div class="row justify-content-center">#}
        {#				<div class="col-md-6 text-center mb-5">#}
        {#					<h2 class="heading-section">Sign Up #07</h2>#}
        {#				</div>#}
        {#			</div>#}
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="img" style="background-image: url({% static 'media/loginimage.jpg' %});"></div>
                    <h3 class="text-center mb-4">Create Your Account</h3>
                    <form action="usersignup" class="signup-form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="name">Full Name</label>
                                    <input type="text" class="form-control" placeholder="John Doe" name="name" id="name">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="username">Username</label>
                                    <input type="text" class="form-control" placeholder="John Doe" name="username" id="username">
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="email">Email Address</label>
                                    <input type="email" class="form-control" placeholder="johndoe@gmail.com" name="email" id="email">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="password">Password</label>
                                    <input id="password" type="password" class="form-control"
                                           placeholder="Password" name="password">
                                    <span toggle="#password-field"
                                          class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>

                            </div>

                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
                        </div>
                    </form>
                    <p class="text-center">I'm already a member! <a data-toggle="tab" href="#signin">SIGN IN</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>

